

@media only screen and (max-width: 540px) {

  .height-box {
      height: 0vh !important;
  }

  .studio-session {
    position: absolute !important;
    z-index: 0;
    width: 100% ;
    height: 115vh ;
  }


  .box-welcome {
    margin-top: 14rem;
    width: 100%; 
    padding-left: 10px;
   padding-right: 10px; 
   height:460px;
   opacity: 0.8;
   background-color: #ffffff;

 }
  .maigeSm {
    margin-top: 50px;
  }

  .box1 {

    height: 380px !important;

  }


  .iconCenter {
      padding-left: 40% !important;
      position: relative;
      padding-top: 50px;
  }

  .high-impact {
    position: absolute;
    margin-left: -10px !important;
    padding-top: 5px !important;
  }

  .register-image {
    width: 100%;

  }

  .register-imageRoup33 {
    margin-top: 90px;
    width: 100%;
    height: 600px;
    position: absolute;
  }
  .studio-session {
    width: 100% !important;
  }


  

}





@media only screen and (max-width: 760px) {
  .padding-left3 {
    padding-left: 0px !important;
   }
  .height-box {
      height: 0vh !important;
  }

  .account-fit {
    text-align: center !important;
  }
  .studio-session {
    position: absolute !important;
    z-index: 0;
    width: 600px;
    height: 115vh ;
  }


  .box-welcome {
    margin-top: 14rem;
    width: 100%; 
    padding-left: 10px;
   padding-right: 10px; 
   height:460px;
   opacity: 0.8;
   background-color: #ffffff;

 }
  .maigeSm {
    margin-top: 50px;
  }

  .box1 {

    height: 380px !important;

  }
  .form-check-reverse {
    text-align: left;
    float: left;
  }


  .iconCenter {
    padding-left: 40% !important;
    position: relative;
    padding-top: 50px;
  }

  .box-paly1 {
    width: 100%;
    height: 200px;
    border-radius: 10px 10px 0px 0px !important;
    background-color: #C4C4C4;
    
  } 

  .alarm {
    position: relative !important;
    padding-top: 10px !important;
    float: right !important;
  }

  .rectangle15 {
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 30px !important;
    border-bottom: 2px solid #4F4F4F;
  } 
  .warmup {
    padding-top: 10px;
    padding-left: 30px;
  }
  .warmup2 {
    margin-top: -20px;
    padding-left: 30px;
    font-size: 26px;
  }
  .ellipse61 {
    margin-top: -20px;
   margin-left: 15px;
  }
  .ellipse61-2 {
    margin-top: -20px;
    padding-left: 10px;
  }
  .ellipse61-size {
    width: 40px  !important;
  }
  .account-fit {
    text-align: center !important;
    margin-left: -40px;
}
  

  .register-image {
    margin-left: 20px;
    margin-top: 60px;
    position: absolute;
    z-index: 0;
    width: 500px;
    height: 740px;
    opacity: 0.6;   
    z-index: 0 !important;
  }
  .group18 {
    padding-left: 10px;
    width: 100%;
    padding-right: 10px;
  }
  .box-smsStay {
    width: 100%; 
    padding-left: 10px;
    padding-right: 10px; 
   background-color: #ffffff;
   margin-left: -20px;
   height: 400px;

 }
 .information-box2 {
  padding: 0px 0px 0px 0px;
  z-index: 1 !important;
  
} 

 
}

@media only screen and (max-width: 960px) {
 
  .alarm {
    position: relative;
    padding-top: 50px ;
    padding-left: 10px;
    float: left ;
  }
  
  .rectangle15 {
  
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 60px;
    border-bottom: 2px solid #4F4F4F;
  }

  .warmup {
    padding-top: 10px;
    padding-left: 30px;
  }
  .warmup2 {
    margin-top: -20px;
    padding-left: 30px;
    font-size: 26px;
  }
  .ellipse61 {
    margin-top: -20px;
    padding-left: 10px;
  }
  .ellipse61-2 {
    margin-top: -20px;
    padding-left: 10px;
  }
  .ellipse61-size {
    width: 40px;
  }
  .register-imageRoup33 {
    padding-top: 10px;
    width: 100%;
    height: 600;
    position: absolute;
  }


}
@media only screen and (min-width: 760px) {
  .information-box2 {
    padding: 30px 20px 0px 20px;
    background-color: #ffffff;
    z-index: 1 !important;
    min-height: 100vh;
    box-shadow: 2px 17px 13px 6px #bababa;
  } 
  .register-image {
    margin-top: -20px;
    position: absolute !important;
    z-index: 0;
    width: 500px;
    height: 740px;
    /* opacity: 0.6;  */
  }
  .group18 {
    width: 80%;
  }
  .box-smsStay {
    width: 100%; 
    padding-left: 10px;
   padding-right: 10px; 
   margin-left: -10px;
   height :550px ;
   background-color: #ffffff;

 }
 .register-imageRoup33 {
  width: 350px;
  height: 600px;
}
}


@media only screen and (min-width: 960px) {
 

  .padding-left3 {
    padding-left: 60px;
   }
   
   .alarm {
    position: relative;
    padding-top: 5px;
    float: right ;
  }

  .rectangle15 {
    margin-right: 20px;
    margin-left: 30px;
    margin-top: 30px;
    border-bottom: 2px solid #4F4F4F;
  } 
  .warmup {
    padding-top: 20px;
    padding-left: 30px;
  }
  .warmup2 {
    margin-top: -15px;
    padding-left: 30px;
    font-size: 26px;
  }
  .ellipse61 {
    margin-top: -10px;
    padding-left: 30px;
  }
  .ellipse61-2 {
    margin-top: -10px;
    padding-left: 10px;
  }

  .register-imageRoup33 {
    width: 600px;
    height: 600px;
  }

  

 
}




@font-face {
  font-family: 'Light';
  font-style: normal;
  font-weight: normal;
  src: url(./views/fonts/Prompt-Light.ttf);

}  
 @font-face {
  font-family: 'BdCondHe';
  src: url(./views/fonts/Prompt-Bold.ttf);

}   
@font-face {
  font-family: 'Regular';
  src: url(./views/fonts/Prompt-Regular.ttf);

}  
.nav-itemHead {
    padding-left: 50px;
    padding-right: 40px;
  }
.nav-linkHead { 
    color: #E25E96;
    font-family: Regular;
    font-size:18px !important;
  }
   

.height-box {
  height: 115vh;
}

.App {
  position: relative;
  background-color: #F6F6F6;  
  font-family: Light;
 
}
body{
  background-color: #F6F6F6 !important;
}

.family-normal {
  font-family: Light !important;
  font-size: 16px;
  color: #E25E96;
}

.App-header  {
  background-color: #F6F6F6 !important;
}

.App-headerBackground {
  position: relative;
  background-color: #F6F6F6;
}

.App-headerBackground2 {
  background-color: #f70000 !important;
}
.text-center {
  text-align: center;
}



.information-box {
  background-color: #FFFFFF !important;
  border: 1px solid #C4C4C4;
  box-shadow:  1px -1px 9px #c4c4c4;
 
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
  cursor: pointer;
}

.btn-outline-pink {
  color: #000000;
  border-color: #E25E96;
}
.btn-outline-pink:hover {
  color: #000000;
  border-color: #FFA0C8;
  background-color: #FFA0C8;
}
.btn-outline-pink:active {
  color: #000000;
  border-color: #FFA0C8;
  background-color: #FFA0C8;
}

.btn-outline-pink:focus {
  color: #000000;
  border-color: #FFA0C8;
  background-color: #FFA0C8;
}

.btn-outline-pinkFocus {
  color: #000000 !important;
  border-color: #FFA0C8 !important;
  background-color: #FFA0C8 !important;
}

.btn-outline-pink:focus-within {
  color: #000000;
  border-color: #FFA0C8;
  background-color: #FFA0C8;

}
.btn-outline-pink:focus-visible {
  color: #000000;
  border-color: #FFA0C8;
  background-color: #FFA0C8;

}
.btn-outline-pink:visited {
  color: #000000;
  border-color: #FFA0C8;
  background-color: #FFA0C8;
}

.btn-outline-pinkModel {
  padding-left: 20px;
  padding-right: 20px;
  color: #E25E96;
  border-color: #E25E96;
  border-radius: 30px;
}
.btn-outline-pinkModel:active {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  border-color: #E25E96;
  background-color: #E25E96;
  border-radius: 30px;
}
.btn-outline-pinkModel:focus {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  border-color: #E25E96;
  background-color: #E25E96;
  border-radius: 30px;
}

.btn-outline-pinkModelFocus {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  border-color: #E25E96;
  background-color: #E25E96;
  border-radius: 30px;
}
.btn-outline-pinkModelFocus:hover {
  padding-left: 20px;
  padding-right: 20px;
  color: #FFFFFF;
  border-color: #E25E96;
  background-color: #E25E96;
  border-radius: 30px;
}

.center {
  display: flex;
  justify-content: center;
}
.center2 {
  text-align: center;
  display: inline-block;
}
.center3 {
  text-align: center;
}



.padding-top {
  padding-top: 30px;
}

.padding-top2 {
  padding-top: 20px;
}

.padding-top3 {
  padding-top: 80px;
}

.padding-top4 {
  padding-top: 60px;
}

.padding-top5 {
  padding-top: 40px;
}


.padding-bottom {
  padding-bottom: 30px;
}
a {
  text-decoration: none;
}
.padding-left {
 padding-left: 15px;
}
.padding-left2 {
  padding-left: 30px;
 }

.padding-right {
  padding-right: 10px;
 }

.margin-top-2 {
  margin-top: -30px;
 }

.margin-top-1 {
  margin-top: -10px;
 }
 .margin-top-2 {
  margin-top: -20px;
 }
 .margin-top-3 {
  margin-top: -40px;
 }
 .margin-top-4 {
  margin-top: 40px;
 }
 .margin-top-5 {
  margin-top: 80px;
 }
.margin-head {
 margin-top: 30px;
}

.margin-bot {
  margin-top: 30px;
 }

.margin-headText {
  margin-top: 20px;
 }

 .margin-right {
  margin-right: 40px;
 }
 .margin-bottom {
    margin-bottom: 0px;
 }
 .margin-bottom1 {
  margin-bottom: 40px;
}

.border-bottom {
  margin-top: 0px;
  border-bottom: 10px solid 707174 !important;
  margin-bottom: 20px;
}

.margin-leftRight {
  margin-left: 20px;
  margin-right: 20px;
}

.padding-leftRight {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.text-left {
  text-align: left !important;
  padding-left: 30px;
}
.from-left {
padding-left: 10%;
 
}

.top-border {
  margin-top: 10px;
}  

.down-top {
  margin-top: 20px;
}
.font-weight {
  font-weight: bold;
}
.distance  {
  margin-left: 25px;
}
.distanceRight  {
  margin-right: -10px !important;
}

.distance-span  {
  margin-left: 60px;
}
/* ลองอัพ code */
.bottom-pink  {
  background-color: #E25E96;
  margin-top: 40px;
  height: 50px;
  color: #FFFFFF;
  margin-bottom: 50px;
  border-radius: 25px;
  padding-top: 5px;
  font-size: 24px;
}
.bottom-pink:hover  {
  background-color: #E25E96;
  margin-top: 40px;
  height: 50px;
  color: #FFFFFF !important;
  margin-bottom: 50px;
  border-radius: 25px;
  padding-top: 5px;
  font-size: 24px;
}

.bottom-outlinePink  {
  background-color: #FFFFFF;
  height: 50px;
  border-color: #E25E96;
  color: #000000;
  margin-bottom: 50px;
  border-radius: 25px;
}
.bottom-outlinePink:hover  {
  background-color: #FFFFFF;
  height: 50px;
  border-color: #E25E96;
  color: #000000;
  margin-bottom: 50px;
  border-radius: 25px;
}
.bottom-outlinePink:focus  {
  background-color: #FFFFFF;
  height: 50px;
  border-color: #E25E96;
  color: #000000;
  margin-bottom: 50px;
  border-radius: 25px;
}
.bottom-outlineGrey  {
  background-color: #FFFFFF;
  height: 50px;
  border-color: #E25E96;
  color: #000000;
  margin-bottom: 50px;
  border-radius: 25px;
}

.bottom-outlineGrey:hover  {
  background-color: #FFFFFF;
  height: 50px;
  border-color: #E25E96;
  color: #000000;
  margin-bottom: 50px;
  border-radius: 25px;
}
.bottom-outlineGrey:focus  {
  background-color: #FFFFFF;
  height: 50px;
  border-color: #E25E96;
  color: #000000;
  margin-bottom: 50px;
  border-radius: 25px;
}
.bottom-pink:focus  {
  background-color: hsl(335, 69%, 63%);
  margin-top: 40px;
  height: 50px;
  color: #FFFFFF;
  margin-bottom: 50px;
  border-radius: 25px;
  padding-top: 5px;
  font-size: 24px;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .25rem hsl(335, 69%, 63% ,0.25);
}

.form-check-input:focus {
  border-color: #E25E96;
  outline: 0;
  box-shadow: 0 0 0 .25rem hsl(335, 69%, 63% ,0.25);
}

.form-control:focus {
  color: #292121;
  background-color: #fff;
  border-color: #E25E96;
  outline: 0;
  box-shadow: 0 0 0 .25rem hsl(335, 69%, 63% ,0.25);
}

.form-select:focus {
  border-color: #fe8686;
  outline: 0;
  box-shadow: 0 0 0 .25rem hsl(335, 69%, 63% ,0.25);
}

.bottom-pinkLogin  {
  background-color: #E25E96;
  margin-top: 40px;
  height: 50px;
  color: #FFFFFF;
  margin-bottom: 50px;
  border-radius: 25px;
}
.bottom-pinkLogin:hover  {
  background-color: #E25E96;
  margin-top: 40px;
  height: 50px;
  color: #FFFFFF;
  margin-bottom: 50px;
  border-radius: 25px;
}
.span-image {
  padding-left: 20px;
}


.padding-box {
 padding-left: 20px;
 padding-right: 20px;
 padding-top: 10px;
}
.light {
  font-weight: lighter;
}

.section {
  color: #E25E96;
}

.section-size {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.section-size20 {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.style-th2 {
	border-top: 1px solid #8c8b8b;
}
.size-login {
 font-size: 20px;
 font-weight: bold;
}
.between {
  display: flex;
  justify-content: space-between;
}
.decoration {
  text-decoration: underline;
}

.nav-tabs .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #000000;
  background-color: #C1C1C1;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .active {
  color: #E25E96 !important;
}

.nav-tabs .nav-link:active {
  display: block;
  padding: 0.5rem 1rem;
  color: #E25E96 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .nav-link:hover {
  display: block;
  padding: 0.5rem 1rem;
  color: #E25E96 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.nav-tabs .nav-link:focus {
  display: block;
  padding: 0.5rem 1rem;
  color: #E25E96 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}
.span-image-pen {
  padding-left: 20px;
}
.image-pen {
  width: 20px;
  margin-left: 15px;
}

.icon-vector {
  margin-left: 20px;
}
.box1 {
  max-width: 600px;
  height: 450px;
  background-color: #FFFFFF;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
}
.right {
  text-align: right;
}
.color1 {
  color: #E25E96 !important;
}


.font-size1 {
  font-size: 20px;
  font-weight: bold;
}
.font-size2 {
  font-size: 14px;
  font-weight: bold;
}
.font-size3 {
  font-size: 16px;
  font-weight: bold;
}
.font-size4 {
  font-size: 14px; 
}

.font-size5 {
  font-size: 18px;
}
.font-size6 {
  font-size: 24px !important;
}
.font-size7 {
  font-size: 12px; 
}
.box-price {
  padding-top: 5px;
  padding-bottom: 50px;
}
.normal {
  font-weight: normal;
}

.font-size8 {
  font-size: 28px !important;
}
.linear {
  background: linear-gradient(#E25E96, #FFA0C8)  !important;
  color: #FFFFFF;
  text-align: center;
  padding-top: 5px;
  margin-top: -20px;
  margin-left: -1px;
  margin-right: -1px;
  height: 80px;
  border-radius: 10px;
  margin-bottom: 20px;
}




.color-price {
  color: #D30768;
}

.color-protein {
  color: #E25E96;
}


.box-black {
  text-align: center;
  margin-top: -20px;
  margin-left: -1px;
  margin-right: -1px;
  height: 85px;
  color: #FFFFFF;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #333333 !important;
}

.bold {
  font-weight: bold;
  font-family: BdCondHe;
}

.box2 {
  width: 900px;
  height: 1001%;
/*   background-image: url("../src/views/images/Rectangle_229.png"); */
  background-image: linear-gradient(to top right, #FFA0C8 9%,#FFFFFF, #FFFFFF,  #FFFFFF, #FFFFFF);
  margin-bottom: 50px;
  padding-bottom: 50px;
  
}


.head-box {
  margin-right: 0px;
  margin-top: 30px;
  min-height: 60px;
  padding-top: 8px;
  background: -webkit-linear-gradient(left, #EC008C, #FC6767); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #EC008C, #FC6767); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #EC008C, #FC6767); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #EC008C, #FC6767); /* Standard syntax (must be last) */
}


.head-width {
  position: relative;
  min-width: 200px;
  padding-left: 30px;
  padding-top: 10px;
  color: #FFFFFF;
}
.text-headWidth {
  font-size:  30px;
}
.text-headWidth1 {
  font-size:  40px;
}

.margin-top {
  margin-top: -20px;
}
.box-starter_set {
   width: 100%;
  background-color: #FFFFFF;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  box-shadow:  2px 2px 10px  #C4C4C4;
  
}
.box-starter_set1 {
  width: 100%;
  background-color: #FFFFFF !important;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  box-shadow:  2px 2px 10px  #C4C4C4;
}
.box-starter_set2 {
  width: 100%;
  background-color: #F6F6F6 !important;
}

.bottom-padding {
  margin-bottom: 100px;
}
.scroll {
  height: 450px;
  overflow: auto;
}

.margin-boxLeft {
  margin-top: 150px;
}
.ellipse-71 {
  width: 40px;
}



.group19 {
  width: 50%;
}


.container2, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  width: 100%;
  padding-right: var(--bs-gutter-x,.75rem);
  padding-left: var(--bs-gutter-x,.75rem);
  margin-left: auto;
}



.box-protein{
  background-color: #FFFFFF !important;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-right: 5%;
  margin-left: 5%;
  box-shadow: #C1C1C1;
  box-shadow: 1px 1px 8px 4px #cccccc;
}

.box-proteinIn{
  padding: 10px;
  border-radius: 5px;
  padding-right: 10px;
  padding-bottom: 30px;
  border: 1px solid #CCCCCC;
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 10px;
  text-align: left !important;


}

.box-proteinAddress {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  padding-right: 10px;
  padding-bottom: 30px;
  margin-left: 10%;
  border-radius: 10px;
  margin-right: 10%;
  text-align: left !important;
}
.box-yourProgram {
  padding: 10px 20px 0px 20px;
  border-radius: 5px;
  padding-right: 10px;
  border-radius: 10px;
}

.box-yourProgramIn {
  padding: 10px 10px 0px 20px;
  border-radius: 5px;
  padding-right: 10px;
  border: 1px solid #000000;
  border-radius: 10px;
  text-align: left !important;
}

.box-summarize {
  margin-left: -20px;
  margin-right: -10px;
  padding: 10px 10px 10px 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #F2F2F2;

}


.img-payment {
  width: 10%;
}
.box-yourProgram2 {
  background-color: #F2F2F2;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* modal ใบกำกับภาษี */

.modal-headerIn {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.modal-footerIn {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  padding: 0.75rem;
  border-bottom-right-radius: calc(0.3rem - 1px);
  border-bottom-left-radius: calc(0.3rem - 1px);
}

.modal-bodyIn {
  position: relative;
  flex: 1 1 auto;
  padding-top: 0rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  margin-top: -10px;
}

.form-check-input:checked {
  background-color: #E25E96 !important;
  border-color: #E25E96 !important;
}


/*    เเค่เอา ไว้ โช */
.information-boxNull {
  background-color: #5B5B5B !important;
  color: #FFFFFF !important;
 
}
.box-Null {
  background-color: #D3D8DD;
  width: 100vw;
  height: 300px;
}
.box-Null1 {
  background-color: #FFFFFF;
  width: 100vw;
  height: 300px;
}
.box-NullIn {
  margin-top: 30px;
  background-color: #C4C4C4;
  width: 500px;
  height: 180px;
}

.footerNull {
  padding-top: 200px;
}
.btn-secondary {
  width: 150px;
  border-radius: 25px;
}

.img-ellipse17 {
  position: relative !important;
}
.group30 {
    position: absolute;
    padding-top: 65px;
    margin-left: -35px;
}

.grouo38 {
  position: relative !important;
 
}

.box-imgGrouo38 {
margin-top: -120px;
z-index: 0;
}




.onoffswitch {
  position: relative;
  background-color: #C4C4C4;
  width: 140px;
  height: 40px;
  border-radius: 20px;
}
.onoffswitch-checkbox {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}


.onoffswitch-label {
  display: block; overflow: hidden; cursor: pointer; 
}


.onoffswitch-inner {
  display: block; width: 200%; margin-left: -100%;

}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
  font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
  box-sizing: border-box;

}

.onoffswitch-inner {
  margin-top: 5px;
  margin-left: 5px !important;
  width: 70px;
  height: 30px;
  padding-left: 5px;
  padding-top: 5px;  
  border-radius: 20px;
}

.text-float {
  position: absolute;
  z-index: 1;
  color: #000000 !important;
}

.text-float1 {
margin-left: 20px;
}

.onoffswitch-switch {
  display: block; 
  width: 18px;
  margin: 2px 2px 6px 2px;
  background: #FFFFFF;
  position: absolute; 
  top: 0; bottom: 0;
  right: 65px;
  width: 70px;
  height: 35px;
  border-radius: 20px;
  transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
  
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px; 
}



.elementStyle input:focus {
  border-color: #E25E96 !important;
  outline: 0;
  box-shadow: 0 0 0 .25rem hsl(335, 69%, 63% ,0.25);
}

 .elementStyle div {
  display:block !important;
}
  
.pointer {
  cursor: pointer;
}


/* vodeo */
.box-videoHead {
  position: relative !important;
  width: auto;
  height: 200px;
  background-color: #C4C4C4;
}
.center-videoText {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}
.play_circle {
  padding-left: 15%;
}
.play_circle_span {
  padding-left: 2%;
  font: 1em sans-serif;
}
.box-videoCenter {
  width: auto;
  height: 100%;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  height: 100%;
  padding-left: 20px;
}

.video-ul {
  list-style-type: none !important; 
  margin: 0 !important;
  padding: 50px 0px 20px 0px ;
  
}

.video-li {
  display: inline !important;
  position: relative;
  margin-bottom: 50px;
}
.video-liPadding-left {

  padding-bottom: 50px;
  margin-top: 50px;
  margin-bottom: 20px;
  padding-top: 50px;
}
 .video-link {
  font-weight: bold;
  font-family: BdCondHe;
  color: #000000;
  cursor: pointer;
  font-size: 14px !important;

} 
a:hover {
   color: #E25E96 !important;
} 

.rectangle13 {
  border-bottom: 5px solid #4F4F4F;
}

.video-li2 {
  display: inline !important;
  position: relative;
}

.video-liPadding-left2 {
  padding-left: 20px !important;
}
.nav-left2 {
  padding-left: 50px !important;
}


.video-ul2 {
  margin-top: 40px !important;
  position: relative;
  
}
.video-ul3 {
  padding-left: 50px;
  margin-right: 20px;
  padding-top: 20px;
}
.rightLi {
  position: absolute; 
  right: 0px;  
}
.rightRig {
  float: right;

}

.video-link2 {
  font-weight: bold;
  font-family: BdCondHe;
  cursor: pointer;
  font-size: 24px !important;
} 
.rectangle14 {
  margin-right: 20px;
  margin-left: 30px;
  margin-top: -15px;
  border-bottom: 3px solid #4F4F4F;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 20px;
  padding-left: 0px; 
  margin-left: auto;
}

.video-link3 {
  color: #000000;
  font-size: 16px !important;
}
.video-li3 {
  display: inline !important;
  position: relative;
}
.video-li4 {
  display: inline !important;
  float: right !important;
}

.containerli {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: 20px;
  padding-left: 30px; 
  margin-left: auto;
  padding-top: 20px;
}
.icon-edit {
  width: 25px !important;
  padding-right: 5px;
}
.day2-4 {
  color: #C4C4C4 !important;
}
.iconCenter {
  padding-left: 35%;
  position: relative;
  padding-top: 60px;
}

.eCheck {
  position: absolute;
  margin-left: -47px;
}
.line1 {
  position: relative;
  padding-top: 40px;
  margin-left: 10px;
}
  .ellipse-1 {
    position: absolute;
    margin-left: -10px;
  }
.ellipse-2 {
  position: relative;
  margin-top: 0px;
  margin-left: -10px;
}
.e2 {
  margin-left: -32px;
}
.line2 {
  position: relative;
  margin-left: 10px;
}



.box-playVdieo {
  position: relative;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 0px;
  max-width: 800px;
  border-radius: 10px 10px 10px 10px;
  background-color:  #ffffff;
  box-shadow: 0px 2px 20px 0px #c4c4c4;


} 

.start-e {
  position: absolute;
  margin-left: -20px;
  margin-top: -60px;
  width: 90px;
}
.end-e {
  position: absolute;
  padding-top: 10px;
  margin-left: -20px;
  width: 90px;
  z-index: 1;
}

 .box-paly1 {
  width: 100%;
  height: 220px;
  border-radius: 10px 0px 0px 10px;
  
} 
.box-paly2 {
  width: 100%;
  height: 220px;
  border-radius: 10px 0px 0px 10px;

} 
.icon-play-video {
  position: absolute;
  margin-left: -15px;
  margin-top: -15px;
  z-index: 1;
}
.background-icon-play {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  margin-top: 90px;
  margin-left: 46%;
  z-index: 0;
}

.text-video {
  padding: 20px;
}

.high-impact {
  position: absolute;
  padding-left: 10px !important;
  padding-top: 5px !important;
}
.vidio-all {
  position: relative;
  margin-top: 50px;
  padding-left: 30px;
  padding-right: 20px;
}

 .clip-all {
  font-size: 18px;
  padding-right: 20px;
} 
.scrolloverflow {
  padding: 10px;
  margin-right: 20px;
  overflow:auto;
 }
.scrolloverflow ul{
   white-space: nowrap;
  }
.scrolloverflow li {
  display: inline-block;
}

 .box-video {
  background-color: #C4C4C4;
  width: 300px;
  height: 200px;
  border-radius: 10px 10px 0px 0px;
/*   border: 0.1em solid #E25E96; */
  border-top: 0.1px solid #E25E96;
  border-left: 0.1px solid #E25E96;
  border-right: 0.1px solid #E25E96;
}
.box-video1 {
  position: relative;
  padding: 10px;
  background-color: #FFFFFF;
  width: 300px !important;
  height: 220px;
  border-radius: 0px 0px 10px 10px;
  border-left: 0.1px solid #E25E96;
  border-right: 0.1px solid #E25E96;
  border-bottom: 0.1px solid #E25E96;
}
.box-video2 {
  position: relative;
  padding: 10px 10px 20px 10px;
  background-color: #FFFFFF;
  width: 300px !important;
  border-radius: 0px 0px 10px 10px;
  border-left: 0.1px solid #E25E96;
  border-right: 0.1px solid #E25E96;
  border-bottom: 0.1px solid #E25E96;
}
.text-videobox {
  position: relative; 
  white-space: normal;
}
.boxvideo {
  padding-left: 10px;
  display: none;
  display: inline;
  display: block;
  padding-right: 10px;
  display: inline-block;   
}
.boxvideo-1 {
  margin-left: -20px;
  display: none;
  display: inline;
  display: block;
  padding-right: 10px;
  display: inline-block;   
}
.boxvideo2 {
  padding-left: 10px;
  display: none;
  display: inline;
  display: block;
  padding-right: 10px;
  display: inline-block;
  margin-top: 20px;
}
.text-box-video1 {
  font-size: 14px;
}

.bottom-pink-video{
  background-color: #E25E96;
  margin-top: 0px; 
  height: 40px;
  width: 100%;
  color: #FFFFFF;
  border-radius: 25px;
}
.bottom-pink-video:hover{
  background-color: #E25E96;
  margin-top: 0px; 
  height: 40px;
  width: 100%;
  color: #FFFFFF;
  border-radius: 25px;
}
.bottom-pink-video:focus{
  background-color: #E25E96;
  margin-top: 0px; 
  height: 40px;
  width: 100%;
  color: #FFFFFF;
  border-radius: 25px;
}

.ellipse61-model {
  margin-top: 5px;
  padding-left: 5px;
  width: 40px;
}
.span-model {
  position: absolute;
  padding-left: 10px;
  padding-top: 10px;
}
.modal-header {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius)
}
.modal-body {
  height: 90vh;
}
.video {
  width: 100%;
  height: 100%;
}
.bought {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 40px;
}

.bought-box {
  padding-top: 20px;
  display: none;
  display: inline;
  display: block;
  padding-right: 10px;
  display: inline-block;   
}
.box-videoCenterAll {
  width: auto;
  height: 100%;
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
  height: 100%;
} 
.impact {
  padding-left: 5px;
}
.modal-boxvideo {
  padding: 0px 10px 10px 10px; 
  margin-top: -20px;
  text-align: center;
  display: inline-block;
}
.lock-video:disabled {
  background-color: #333333 !important;
}
.union {
  position: absolute;
  margin-left: -30px;
  margin-top: 7px;
  width: 25px;
}
.vector4-box {
  width: 400px;
  height: 110px;
  position: absolute;
  top: 35%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}
.vector4-box2 {
  height: 200px;
  position: absolute;
  top: 43%;
  left:10px;
  right: 10px;
  margin-top: -100px;
  margin-left: 10px;
  padding-top: 80px;
  padding-right: 20px;
}

.vector4-button {
  max-width: 400px;
  margin-left: 0px;
margin-bottom: 50px;
}
.vector4 {
  width: 100px;
}
.vector4-text {
  font-size: 40px;
  color: #E25E96;
}

.vector4-text2 {
  font-size: 32px;
}

.modal-content2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--bs-modal-color);
  pointer-events: auto;
  background-color: #000000;
  background-clip: padding-box;
  border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
  border-radius: var(--bs-modal-border-radius);
  outline: 0;
  margin-top: -10px;
}


.color-x {
  color: #FFFFFF;
  font-size: 24px;
}
.color-x:hover {
  color: #FFFFFF;
  font-size: 24px;
}
.color-x:focus {
  color: #FFFFFF;
  font-size: 24px;
}
.mode-xxl {
  max-width: 100% !important;
}
